#partners {
}

.partners h1 {
	font-size: 32px;
	font-weight: 700;
	color: #253f41;
	@media (max-width: 320px) {
		font-size: 24px;
	}
}
.partners p {
	color: #253f41;
	font-size: 18px;
	font-weight: 400;
	margin-top: 30px;
	margin-bottom: 50px;
	@media (max-width: 320px) {
		margin: 10px 0 20px 0;
		font-size: 16px;
		font-weight: 550;
	}
}
.pic-partners {
	display: flex;
	justify-content: space-between;
	align-items: center;
	@media (max-width: 1000px) {
		display: grid;
		grid-template-columns: repeat();
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 40px;
	}
	@media (max-width: 640px) {
		grid-gap: 20px;
	}
	@media (max-width: 940px) {
		display: grid;
		grid-template-columns: repeat();
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 40px;
	}
}
