.modal {
  position: fixed;
  min-width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  transition: all 0.3s;
  backdrop-filter: blur(5px);

  z-index: -999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  &.active {
    z-index: 9999;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}

.modal_body {
  width: 100% !important;
}
.modal_close {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 7vh;
  padding-right: 2rem;
  button {
    background-color: #2cb2bb;
    color: white;
    padding: 4px 12px;
    border-radius: 4px;
  }
}
.modal_content {
  padding: 30px;
  background-color: white;
  height: 93vh;
  border-top: 1px solid black;
  width: 100%;
}
