.fd {
	display: none;
}
.ds {
	display: none;
}
@media (max-width: 1109px) {
	.zz {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
	}
	.mr-11 {
		margin-right: 0.75rem;
	}
	.df {
		display: none;
	}
	.fd {
		display: block;
	}
}
@media (max-width: 677px) {
	.ds {
		display: block;
	}
}

@media (max-width: 840px) {
	.zz {
		flex-wrap: wrap !important;
	}
}

@media (max-width: 740px) {
	.zz {
		justify-content: flex-start !important;
		column-gap: 100px;
	}
}

@media (max-width: 440px) {
	.zz {
		width: 100%;
		max-width: 100%;
	margin: 0 !important;
		& div {
			width: 100%;
			max-width: 100%;
		}

		& div.third {
			width: auto;
			margin: 0;
		}
		& div.four {
			& * {
				text-align: left !important;
			}
			div {
				width: 80%;
			}
		}
		& div.first {
			width: auto;
		}
	}
}
