.bo {
	border-radius: 10px;
	-webkit-box-shadow: 4px 4px 69px 2px rgba(110, 204, 192, 0.56);
	-moz-box-shadow: 4px 4px 69px 2px rgba(110, 204, 192, 0.56);
	box-shadow: 4px 4px 69px 2px rgba(110, 204, 192, 0.56);
}

/* ///////////////////////// */
.parent {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.child {
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	transform-style: preserve-3d;
	transition: all 0.5s ease-in-out;
	border-radius: 50%;
	margin: 0 5px;
}

.child:hover {
	background-color: white;
	background-position: -100px 100px, -100px 100px;
	box-shadow: 0px 10px 10px rgb(1, 49, 182);
}

.button:hover {
	width: inherit;
	height: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}
.how:hover {
	transform: scale(1.1);
}

.hov {
	display: flex;
	align-items: flex-start;
}

@media (max-width: 940px) {
	.hov {
		display: grid !important;
		grid-template-columns: repeat();
		grid-template-columns: repeat(2, 1fr);
		justify-items: center;
		grid-row-gap: 20px;
	}
}
@media (max-width: 440px) {
	.apa-py-3 {
		padding: 50px 0 !important;
	}
	.footer2-none,
	.footer3-none {
		display: none;
	}
	.hov {
		display: grid !important;
		grid-template-columns: repeat();
		grid-template-columns: repeat(1, 1fr);
		justify-items: center;
		grid-row-gap: 20px;
		& h3 {
			text-align: left;
		}
	}
}
