.fd {
display: none;
}
.ds{
    display: none;
}
@media (max-width : 1109px) {
    .zz {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        /* text-align: center; */
    }
    .mr-11 {
        margin-right: 0.75rem;
    }
    .df {
        display: none;
    }
    .fd{
        display: block;
    }
}
@media(max-width: 677px) {
    .ds {
        display: block;
    }
}