.social__section {
	margin-top: 114px;
	@media (max-width: 740px) {
		margin-top: 50px;
	}
}
.social__block1-title h1 {
	color: rgb(37, 63, 65);
	font-size: 32px;
	font-weight: 700;
	margin-bottom: 29px;
	@media (max-width: 320px) {
		width: 100%;
		font-size: 22px;
		line-height: 35px;
		margin-bottom: 19px;
	}
}
.social__block1-title {
	@media (max-width: 320px) {
		width: 100%;
	}
}
.social__block1-title p {
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 600;
	line-height: 24px;
	letter-spacing: 0%;
	line-height: 30px;

	text-align: left;
	max-width: 75%;
	@media (max-width: 320px) {
		width: 100%;
		font-size: 16px;
		line-height: 25px;
	}
}
.social__block1-title p span {
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 600;
	line-height: 24px;
	letter-spacing: 0%;
	text-align: left;
	color: rgb(44, 178, 187);
}
.social__block2 {
	height: auto;
	@media (max-width: 320px) {
		height: auto !important;
		margin-bottom: 20px;
	}
	.swiper-slide {
		width: 300px !important;
	}
}
.block-child-left {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 62px;
	svg {
		font-size: 42px;
	}
}
.block-child-left p {
	color: rgb(37, 63, 65);
	font-size: 14px;
	font-weight: 600;
}
.block-child-left p span {
	color: rgb(44, 178, 187);
	font-size: 14px;
	font-weight: 600;
}
.block-child-left {
	background: rgb(44, 178, 187);
	width: 60px;
	height: 60px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	transition: 0.5s ease-in-out;
}

.social__block-child {
	@media (max-width: 940px) {
		flex-wrap: wrap;
		gap: 20px;
		justify-content: flex-start !important;
	}
}

.block-child-svg {
	border-radius: 8px;
	background: rgb(242, 250, 251);
	object-fit: cover;
	min-width: 222px;
	padding-right: 20px;
	height: 60px;
	transition: 0.5s ease-in-out;

	@media (max-width: 1100px) {
		width: 222px;
		height: 60px;
	}
	p {
		font-size: 16px;
	}
	p {
		span {
			font-size: 14px;
		}
	}
}
.block-child {
	&-svg:hover {
		transition: 0.2s ease-in-out;
		background: rgb(253, 247, 242);
		.block-child-left {
			transition: 0.2s ease-in-out;
			background: rgb(229, 126, 37);
		}
	}
}
.block_social-likes {
	color: rgb(37, 63, 65);
	font-size: 14px;
	font-weight: 700;
}
.dfdf {
	margin-top: 48px;
	max-width: 100%;
	overflow-x: scroll;
	width: 1202px;
}
.dfdf::-webkit-scrollbar {
	display: none;
}
