@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

.container {
	max-width: 1202px;
	margin: 0 auto;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif !important;
	font-size: 100%;
}

button,
label,
hr {
	border: 0;
	outline: 0;
	background: 0;
	cursor: pointer;
}

input,
select {
	border: 0;
	outline: 0;
	background: 0;
}

a,
li,
ul {
	list-style: none;
	text-decoration: none;
}

body {
	width: 100%;
}

.wrapper {
	width: 100%;
	position: relative;
	overflow-x: hidden;
	min-height: 100vh;
}
html {
	scroll-behavior: smooth;
	height: 100%;
}
