@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

button,
label,
hr {
  border: 0;
  outline: 0;
  background: 0;
  cursor: pointer !important;
}

input,
select,
textarea {
  border: 0;
  outline: 0;
  background: 0;
}

a.link {
  margin-top: 30px;
  padding: 16px 24px;
  border-radius: 20px;
  gap: 10px;
  background-color: #252f40;
  font-size: 17px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
}

a,
li,
ul {
  list-style: none;
  text-decoration: none;
}

body {
  width: 100%;
  &::-webkit-scrollbar {
    width: 0;
  }
}

.wrapper {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
}
html {
  scroll-behavior: smooth;
  height: 100%;
}

.swipers {
  height: 540px;
  display: none !important;
  @media (max-width: 440px) {
    display: block !important;
  }
}

.backgrounds {
  position: fixed;
  z-index: 980;
  width: 100%;
  min-height: 100vh;
  background-color: #00000080;
  top: 0;
  left: 0;

  opacity: 0;
  visibility: hidden;
  z-index: -999;
  pointer-events: none;

  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  &.active {
    opacity: 1;
    visibility: visible;
    z-index: 999;
    pointer-events: all;
  }
}

.container {
  max-width: 1202px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    width: 95%;
  }
}

@media (max-width: 1100px) {
  .container {
    width: 95%;
  }
}

@media (max-width: 1000px) {
  .container {
    width: 95%;
  }
}

@media (max-width: 940px) {
  .container {
    width: 95%;
  }
}
@media (max-width: 940px) {
  .container {
    /* width: 750px; */
    width: 95%;
  }
}

@media (max-width: 740px) {
  .container {
    width: 95%;
  }
}
