.review-tab {
	padding: 30px 0;
	box-shadow: 0px 8px 12px 0px #164a8714;
	div {
		display: flex;
		align-items: center;
		justify-content: space-between;
		a {
			width: 280px;
			text-align: center;
			&.actives {
				border-bottom: 2px solid #2cb2bb;
			}
		}
	}
}

.search {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid #2cb2bb;
	padding: 6px 17px;
	border-radius: 8px;
	margin: 20px 0;

	button {
		svg {
			stroke: #2cb2bb;
			font-size: 20px;
		}
	}
}
.input-box {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 6px;
	width: 100%;

	label {
		font-size: 14px;
		font-weight: 600;
	}
	input {
		width: 100%;
		font-size: 15px;
		padding: 3px 0;
		font-weight: 450;
		&::placeholder {
			color: black;
		}
	}
}

.start {
	margin-top: 50px;
	min-height: 50vh;
}
.container {
	width: 1202px;
	min-height: 464px;
	max-height: 464px;
	border-radius: 16px;
	padding: 30px 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #2cb2bb;
	position: relative;
	z-index: 20;
	@media (max-width: 940px) {
		padding: 5vw;
		min-height: auto;
		max-height: auto;
	}

	svg {
		position: absolute;
		bottom: 0;
		right: 5vw;
		z-index: -1;
	}
}

.left {
	h1 {
		font-family: Montserrat;
		font-size: 40px;
		font-weight: 900;
		line-height: 48px;
		letter-spacing: 0em;
		text-align: left;
		color: #ffffff;
		width: 380px;
		margin-bottom: 10px;
	}
	span {
		font-family: Montserrat;
		font-size: 28px;
		font-weight: 600;
		line-height: 32px;
		letter-spacing: 0em;
		text-align: left;
		color: #ffffff;
	}
	p {
		margin-top: 18px;
		font-family: Montserrat;
		font-size: 20px;
		font-weight: 400;
		line-height: 28px;
		letter-spacing: 0em;
		text-align: left;
		color: #ffffff;
		width: 380px;
	}
	button {
		background: #ffffff;
		box-shadow: 0px 10px 12px 0px #253f411a;
		width: 276px;
		height: 60px;
		border-radius: 4px;
		font-family: Montserrat;
		font-size: 18px;
		font-weight: 700;
		line-height: 24px;
		letter-spacing: 0em;
		text-align: center;
		color: #2cb2bb;
		margin-top: 30px;
	}
}

.right {
	margin-bottom: 24px;
	margin-right: 50px;
	@media (max-width: 940px) {
		display: none;
	}
}

.containers {
	padding-top: 88px;
	h1 {
		font-family: Montserrat;
		font-size: 32px;
		font-weight: 700;
		line-height: 40px;
		letter-spacing: 0em;
		text-align: left;
		color: #253f41;
		margin-bottom: 20px;
	}
}

.swiper {
	img {
		width: 284px;
		height: 284px;
		border-radius: 8px;
		object-fit: cover;
	}
}
