.rating {
  margin-top: 184px;
  background: rgb(242, 250, 251);
  height: 596px;
  width: 100%;
}

.rating__block h4 {
  color: rgb(37, 63, 65);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
.rating__block p {
  color: rgb(44, 178, 187);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
}
.rating__block__left-blocks {
  max-width: 80%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  grid-gap: 20px;
}
.rating__block__left {
  margin-top: 5pc;
}
.rating__block {
  width: 284px;
  height: 60px;
  display: flex;
  gap: 20px;
  align-items: center;
  transition: 0.5s ease-in-out;
}
.rating__block:hover {
  border-radius: 8px;
  background: rgb(255, 255, 255);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.08),
    0px 10px 12px 0px rgba(44, 178, 187, 0.16);
  transition: 0.3s ease-in-out;
}
.rating__block-img-child {
  width: 43px;
  height: 40px;
}
.rating__block-img-child img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.rating__block-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 8px;

  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.08),
    0px 10px 12px 0px rgba(44, 178, 187, 0.16);
  background: rgb(255, 255, 255);
}
.rating__content {
  display: flex;
  justify-content: start;
  align-items: center;
}
/* .rating__block-img-right {
  right: 100px;
  width: 587px;
  height: 636px;
} */
.rating__block-img-right img {
  width: 100%;
  height: 100%;
}
.rating__block__left h2 {
  color: rgb(37, 63, 65);
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 47px;
}
.rating__contnent__s {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.rating__block-img-right div h3 {
  display: flex;
  justify-content: center;
  color: rgb(44, 178, 187);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
}
@media screen and (max-width: 1150px) {
  .rating__block {
    width: 220px;
  }
}
@media screen and (max-width: 960px) {
  .rating__contnent__s {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 770px) {
  .rating__block {
    width: 200px;
  }
  .rating {
    height: 690px;
  }
}
@media screen and (max-width: 636px) {
  .rating__content {
    flex-direction: column;
    align-items: center;
  }
  .rating__block-img-right {
    width: 90%;
  }
  .rating__block__right {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 466px) {
  .rating__contnent__s {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .rating__block {
    width: 90%;
  }
  .rating__block__left h2 {
    font-size: 25px;
  }
  .rating {
    height: 959px;
  }
  .rating__block-img-right {
    margin-top: 3pc;
  }
}
