.maps {
	h1 {
		color: rgb(37, 63, 65);
		font-size: 40px;
		font-weight: 900;
		text-align: center;
	}
	&__wrapper__contact {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
	&__wrapper__contact__block {
		width: 386px;
		height: 105%;
		box-sizing: border-box;
		border: 1px solid rgb(229, 229, 229);
		border-radius: 8px;

		background: rgb(255, 255, 255);
	}
	&__wrapper__contact__block-mini {
		// display: none;
		background: rgb(44, 178, 187);
		width: 4px;
		height: 64px;
		opacity: 0;
		transition: 0.2s ease-in-out;
	}
	&__wrapper__contact__block-child:hover {
		.maps__wrapper__contact__block-mini {
			opacity: 1;
			transition: 0.5s ease-in-out;
			&.active {
				background-color: red;
			}
			//   display: block;
		}
	}
}
@media screen and (max-width: 900px) {
	.maps__wrapper__contact {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 20px 0px;
		&__block {
			width: 68%;
		}
	}
	.maps__wrapper__maps {
		display: flex;
		justify-content: center;
		width: 100%;
		iframe {
			width: 100%;
		}
	}
	.maps {
		h1 {
			font-size: 28px;
		}
	}
}
@media screen and (max-width: 650px) {
	.maps {
		h1 {
			font-size: 19px;
		}
	}
}
